local Config = {}

-- logging level
Config.log_level = "info"

-- database
Config.database = {
    log_level = "info",
    name = "ai",
    host = "localhost",
    port = 3306,
    user = "root",
    password = "",
    charset = "utf8mb4",
}

return Config