local Config = {}

-- list of steam ids allowed to perform admin commands
Config.admin_steam_ids = { }

-- logging level
Config.log_level = "info"

Config.SpawnLocation = { x = -106884.28125, y = 197996.78125, z = 1298.3040771484 }

return Config