body { user-select: none; }

#container {
    width:600px;
    margin:50px auto;
    background: rgba(0,0,0,0.4);
    padding:10px 25px;
    padding-bottom:25px;
    border-radius:10px;
}

.title {
    font-family:impact;
    font-size:80px;
    text-shadow: 3px 3px black;
    color:#fff;
    text-align:center;
}
.info {
    background:rgba(0,0,0,0.3);
    border-radius:10px;
    font-family:monospace;
    font-size:14px;
    padding:5px;
    color:#fff;
    text-shadow: 1px 1px black;
    font: 1rem Inconsolata, monospace;
    text-align:center;
}
.subtitle {
    font-family:impact;
    font-size:20px;
    color:#fff;
    text-align:center;
    text-shadow: 1px 1px black;
    margin:20px 0;
}
#character-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.character {
    text-align:center;
    background:rgba(0,0,0,0.3);
    border-radius:3px;
    padding:5px;
    width: 100px;
    border:1px solid #000;
}
.character:hover, button:hover {
    cursor: pointer;
    border:1px solid #fff;
}
.character img {
    border-radius: 4px;
    width: 100px;
}
.character button {
    background:#3684ff;
    color:#fff;
    font-weight:bold;
    border:0px;
    padding:7px;
    width:100%;
}
