<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="./inventory.css" rel="stylesheet">
</head>

<body>
    <div id="inventory">
        <div id="inventory_screen" v-if="inventory_visible">
            <div v-if="items.length > 0">
                <div id="title">INVENTORY</div>
                <div class="grid">
                    <div class="slot" v-for="item in items">
                        <img v-bind:src="'http://game/objects/' + item.modelid" />
                        <span class="name">{{ item.name }}</span>
                        <span v-if="item.quantity > 1" class="quantity">x{{ item.quantity }}</span>
                        <div class="options">
                            <a>Equip</a> 
                            <a>Unequip</a>
                            <a>Drop</a>
                        </div>
                    </div>
                    <div class="slot" v-for="n in FreeInventorySlots"></div>
                </div>
            </div>
            <div v-else id="title">YOUR INVENTORY IS EMPTY</div>
        </div>
        <div id="hotbar" v-if="inventory_visible">
            <div class="slot" v-for="n in 3" :key="n">
                <div v-if="weapons[n-1]">
                    <img v-bind:src="'http://game/objects/' + weapons[n-1].modelid" />
                    <span class="keybind">{{ n }}</span>
                    <span class="name">{{ weapons[n-1].name }}</span>
                    <span v-if="weapons[n-1].quantity > 1" class="quantity">x{{ weapons[n-1].quantity }}</span>
                </div>
            </div>
            <div class="slot" v-for="n in range(4,9)" :key="n">
                <div v-if="items[n-4]">
                    <img v-bind:src="'http://game/objects/' + items[n-4].modelid" />
                    <span class="keybind">{{ n }}</span>
                    <span class="name">{{ items[n-4].name }}</span>
                    <span v-if="items[n-4].quantity > 1" class="quantity">x{{ items[n-4].quantity }}</span>
                </div>
            </div>
        </div>
    </div>    

    <script src="../vue.min.js" type="text/javascript"></script>
    <script src="../vue-onset.js" type="text/javascript"></script>
    <script src="./inventory.js" type="text/javascript"></script>
</body>
</html>