body { user-select: none; }

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#computer {
    width: 800px;
    background-color: black;
    background-image: radial-gradient(
        rgba(0, 150, 0, 0.75), black 120%
    );
    border-radius: 25px;
    border: 2px solid #73AD21;
    box-shadow: 5px 5px 15px #000;
    color: white;
    font: 1.1rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    padding:20px 20px;
    margin-top:50px;
}

.blinking {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0%{     color: #FFF;    }
    49%{    color: #FFF; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #FFF;    }
}

/* Progress Meter */
.meter { 
    height: 15px;
    position: relative;
    background: #73AD21;
    overflow: hidden;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background-color: #ffffff;
    animation: progressBar 10s ease-in-out;
    animation-fill-mode:both; 
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}
