
body { user-select: none; }

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; 
}

#workbench {
    width:700px;
    background: rgba(0,0,0,0.9);
    font-family:helvetica;
    font-size:16px;
    color:#ccc;
    text-shadow: 3px black;
    padding:20px;
}

#title {
    color:#fff;
    font-size:40px;
    text-align:center;
    margin:0;
    font-weight:bold;
    font-family:impact;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 auto;
}
.item {
    padding:10px;
    width:305px;
    border:1px solid #333;
    margin:10px;
}
.item .pic {
    float:left;
    width:90px;
}
.item .pic img {
    border-radius: 4px;
    width: 75px;
}
.item .details {
    float:left;
    width:200px;
}
.item .details .name {
    font-weight:bold;
    font-size:20px;
    color:#fff;
}
.item .details .info {
    font-size:12px;
}
.item .details .info b {
    font-weight:bold;
    color:#fff;
    font-size:16px;
}
.item .details .action {
    margin-top:10px;
}
button {
    font-weight:bold;
    border:0px;
    padding:3px;
    display:block;
    font-size:14px;
    width:100%;
    height:30px;
}
button.need_scrap {
    background: #333;
    color: #666666;
}
button.build {
    background:#1770ff;
    color:#fff;
}
button.build:hover:not([disabled]) {
    cursor: pointer;
    background:#3684ff;
}
button:disabled, button[disabled] {
    background: #333;
    color: #666666;
}

/* Progress Meter */
.meter { 
    height:30px;
    width:100%;
    display:block;
    position: relative;
    background: #1770ff;
    overflow: hidden;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background-color: #fff;
    animation: progressBar 15s ease-in-out;
    animation-fill-mode:both; 
}

@keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}