
body { user-select: none; }

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; 
}

#workbench {
    width: 50%;
    background: rgba(0,0,0,0.9);
    border:25px solid rgba(0,0,0,0.9);
    font-family:impact;
    font-size:16px;
    color:#ccc;
    text-shadow: 3px black;
}

#title {
    color:#fff;
    font-size:28px;
    text-align:center;
    margin:0;
}

table {
    width:100%;
    border-spacing: 0;
    border-collapse: separate;
}

table tr {
    display: table-row;
    background:rgba(0,0,0,0.8);
}
table tr:nth-child(even)  {
    background:rgba(0,0,0,0.5);
}
table tr td:first-child {
    width: 100px;
}
table td {
    padding: 10px;
}

table td img {
    border-radius: 4px;
    width: 75px;
}

table td .name {
    font-weight:bold;
    font-size:20px;
    color:#fff;
}

table td .info {
    font-size:12px;
}

table td.action {
    width: 200px;
    font-size:18px;
}
button {
    font-weight:bold;
    border:0px;
    padding:7px;
    display:block;
    font-size:18px;
    width:100%;
}
button.need_scrap {
    background: #333;
    color: #666666;
}
button.build {
    background:#1770ff;
    color:#fff;
}
button.build:hover:not([disabled]) {
    cursor: pointer;
    background:#3684ff;
}
button:disabled, button[disabled] {
    background: #333;
    color: #666666;
}

/* Progress Meter */
.meter { 
    height:30px;
    width:100%;
    display:block;
    position: relative;
    background: #1770ff;
    overflow: hidden;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background-color: #fff;
    animation: progressBar 15s ease-in-out;
    animation-fill-mode:both; 
}

@keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}