<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="./workbench.css" rel="stylesheet">
</head>

<body>
    <div id="container">
        
        <div id="workbench">
            <div id="title">WORKBENCH</div>
            <div class="grid">
                <div class="item" v-for="(item, key) in items">
                    <div class="pic">
                        <!--<img src="https://via.placeholder.com/100" />-->
                        <img v-bind:src="'http://game/objects/' + item.modelid" />
                    </div>
                    <div class="details">
                        <div class="name">{{ item.name }}</div>
                        <div class="info">
                            <span v-for="(qty, resource) in item.recipe">
                                <b>{{ qty }}</b> {{ resource }}
                            </span>
                        </div>
                        <div class="action">
                            <build-button :recipe="item.recipe" :player_resources="player_resources" :item="key"></build-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/x-template" id="build-button">
            <div v-if="isBuilding">
                <div class="meter"><span><span class="progress"></span></span></div>
            </div>
            <div v-else-if="hasEnoughResources">
                <button class="build" :disabled="isDisabled" @click="build">BUILD</button>
            </div>
            <div v-else>
                <button class="need_scrap" disabled="true">NEED SCRAP</button>
            </div>
        </script>

    </div>
    <script src="../vue.min.js" type="text/javascript"></script>
    <script src="../vue-onset.js" type="text/javascript"></script>
    <script src="./workbench.js" type="text/javascript"></script>
</body>

</html>