
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; 
}
#workbench {
    width: 50%;
    background: rgba(0,0,0,0.5);
    padding:0px 15px;
    padding-bottom:15px;
    border:10px solid rgba(0,0,0,0.1);
    border-radius:8px;
    font-family:impact;
    font-size:16px;
    color:#ccc;
    text-shadow: 3px black;
}

#title {
    color:#fff;
    font-size:28px;
    text-align:center;
    margin:10px 0;
}

section {
    display: table;
    width: 100%;
}

section > * {
    display: table-row;
}

section .col {
    display: table-cell;
    padding:5px;
}

header .col {
    text-transform:uppercase;
}

.row {
    background:rgba(0,0,0,0.3);
    border-radius:3px;
    border:1px solid #000;
}

.row:hover, button:hover {
    border:1px solid #fff;
}
.row img {
    border-radius: 4px;
    width: 100px;
}
.row button {
    background:#1770ff;
    color:#fff;
    font-weight:bold;
    border:0px;
    padding:7px;
    display:block;
    width:100%;
}
.row button:hover {
    cursor: pointer;
    background:#3684ff;
}
