body { user-select: none; }

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; 
}

#scoreboard {
    width: 65%;
    height: 580px;
    overflow-y: hidden;
    background: rgba(0,0,0,0.9);
    border: solid 10px rgba(0,0,0,0.2);
    font-family:impact;
    font-size:16px;
    color:#fff;
    text-shadow: 3px black;
    padding:20px;
}

#title {
    color:#fff;
    font-size:40px;
    text-align:center;
    margin:0;
}

table {
  width:100%;
  border-spacing: 0;
  border-collapse: separate;
  color:#ccc;
}

table td {
  padding: 10px 5px;
  font-size:16px;
}

table td.stats {
  font-size:12px;
  color:#ddd;
}

table td span {
  font-weight:bold;
  font-size:20px;
  color:#fff;
  vertical-align: middle;
}

table tr:nth-child(even)  {
  background: #343434;
}

table thead tr th {
  text-align: left;
  background: #3684ff;
  text-transform: uppercase;
  font-weight:normal;
  font-size:75%;
  text-shadow: 1px 1px #000;
  padding:5px;
}

table thead tr td:first-child {
  width: 35%;
}
