body,
html {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: transparent;
  height: 100%;
  width: 100%;
}

#container {
  height: 80%;
  width: 80%;
  height: 580px;
  overflow-y: hidden;
  color:#fff;
  font-family: Arial;
}

#online {
  float:left;
  width:45%;
  background: rgba(0,0,0,0.9);
  border: solid 10px rgba(0,0,0,0.2);
  border-radius: 5px;
}

#highscores {
  float:right;
  width:45%;
  background: rgba(0,0,0,0.9);
  border: solid 10px rgba(0,0,0,0.2);
  border-radius: 5px;
}

h3 {
  text-transform: uppercase;
  font-weight:normal;
  margin:0;
  padding:5px 0;
}

table {
  width:100%;
  border-spacing: 0;
  border-collapse: separate;
}

table td {
  padding: 7px 3px;
  text-align:center;
}

table td.stats {
  text-align:left;
  font-size:75%;
}

table td.stats span {
  font-weight:bold;
}

table tr:nth-child(even)  {
  background: #343434;
}

table thead tr th {
  text-align: center;
  background: #3684ff;
  text-transform: uppercase;
  font-weight:normal;
  font-size:75%;
  text-shadow: 1px 1px #000;
  padding:3px 3px;
}

table thead tr td:first-child {
  width: 35%;
}
